extends layout
block content
    include body/header
    .container
        h2.space-2-5 #{user.login}
        .row.space-1
            .col-12 Your email: <strong>#{user.email}</strong>
            .col-12.fighters-list.space-2
                .messages
                    if error
                        .error #{error}
                    if success
                        .success #{success}
                - var isUser = true
                a.btn-outline-success.btn(href="/select-fighter") Add new fighter
                include components/fighters-list