.popup
    .window-open.closed#fighter-details
        span.close-btn
        .window-content
            include fighter-details
    .window-open.closed#fight
        span.close-btn
        .window-content
            include fight